@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif; */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: #212121;
}

#hero{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: #101b1b;
}

.brand {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.display{
    margin: 3.25rem 1rem;
    padding: 0.25rem;
    width: 16rem;
    height: 3.5rem;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #0b6b4e;
    color: #fff;
    font-size: 25px;
    
}

button {
    margin: 0.5rem;
    height: 40px;
    width: 40px;
    border: 2px solid #3a3635;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.copyright {
    margin-top: 2rem;
    color: #fff;
}